body{
  width: 100vw;
  min-height: 100%;
  margin: 0;
}
.col{
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 15cm;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.row{
  display: flex;
  flex-direction: row;
}
.row>*{
  width: auto;
}
.row>*:first-child{
  width: 30%;
}
#blind{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  left:0;
  background-color: black;
  display: none;
}